nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  height: 80px;
  padding: 0 50px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

a:hover {
  color: #0077ff;
}
